
.cartWidgetContainer a{
    text-decoration: none;
    color: black;
}

.widget{
    margin-top: 32px;
    margin-right: 50px;
}

.cartWidgetContainer p{
    border-radius: 50%;
    padding: 0 6px;
    text-align: center;
    font-size: smaller;
    background-color: red;
    color: white;
}
