
.tarj-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.tarjetas{
    margin: 15px;
    border: 1px solid lightgray;
    width: 150px;
    height: 275px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.tarjetas:hover{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    transform: scale(1.05);    
}

.tarjetas:hover .btn{
    transform: translateY(-10px);
}

.bodyTarj{
    padding: 0 5px;
}

.sizeImgItems{
    width: 148px;
    height: 148px;
}

.btn{
    transform: translateY(35px);
    transition: transform .5s ease-in-out;
    cursor: pointer;
}

