
.logoSize{
    width: 120px;
    height: 120px;
  }
  
  nav div ul{
    list-style: none;
  }
  
  nav div ul li {
    margin: 0 40px ;
  }
  
  nav {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.205);
    width: 100vw;
  }
  
  .navList{
    align-self: center;
  }
  
  nav div ul a{
    position: relative;
    text-decoration: none;
    color: rgb(19, 26, 35);
    font-size: large;
    cursor: pointer;
  }
  
  .list-hoverfx::after{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background-color: rgba(19, 26, 35,.8);
    border-radius: 50px;
    left: 10%;
    transition: width .4s ease;
  }
  
  .list-hoverfx:hover:after{
    width: 80%;
  }
  
  .ofertasAnimation{
    animation: cambiaColor .6s alternate-reverse infinite;
  }
  
  @keyframes cambiaColor {
    to {
      color: rgb(255, 122, 0);
    }
  }
  
  .cartWidget{
    display: flex;
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 40px;
  }