
.cartElement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: 1px lightgray solid;
    border-radius: 10px;
    margin: 5px;
    width: 80vw;
    height: 100px;
    
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartItemImgSize{
    height: 90px;
    width: 90px;
}
