
footer {
    height: 40px;
    background-color: #131A23;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.linksFooter a{
    color: #c27e3a;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.linksFooter a :hover{
    color: #cc9e70;
}


.linksFooter{
    display: flex;
    justify-content: space-around;
}

.linksFooter div{
    width: 25%;
    height: 100%;
    text-align: center;
    padding-top: 5px;
}

.linksFooter :nth-child(2){
    background-color: #2a394d;
}

.linksFooter :nth-child(3){
    background-color: #3a4e69;
}

.linksFooter :nth-child(4){
    background-color: #3e597c;
}